/src/**/*.s
/data/*
/audio/samples/*
/audio/tracks/*
/audio/voice_groups/*
/audio/sound_entries.s
/audio/samples.s
/audio/voice_groups.s
/audio/tracks.s

/expected/*
/nonmatchings/*
permuter_settings.toml

*.gba
*.elf
*.dump
*.o
*.map
*.bin

*.exe

include/**/*.s
tools/**/*.txt
tools/**/*.png
.vscode